<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nate's Tests</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

  <div class="header jumbotron text-center">
    <h1>HELLO FROM KOA.JS</h1>
    <p>This is being rendered by Koa.js - who need callbacks?</p>
    <h4>Use the form below to add a name to the database.</h4>
  </div>

  <div class="formContainer" style="max-width: 400px; margin: 2em auto;">
    <form action="/add-person" method="post">
      <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input name="firstName" type="text" class="form-control" id="firstNameInput" placeholder="Barry">
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input name="lastName" type="text" class="form-control" id="lastNameInput" placeholder="White">
      </div>
      <div class="form-group">
        <label for="emailInput">Email address</label>
        <input name="email" type="email" class="form-control" id="emailInput" placeholder="BarryWhite@awesometown.org">
      </div>
      <button type="submit" class="btn btn-block btn-success">Submit</button>
    </form>
  </div>
</div>


</body>
</html>
