<div class="peopleList__container">
  <div class="row">
    <div ng-repeat="person in vm.peopleList" class="col-sm-4 col-md-3 panel panel-default">
      <div class="panel-body">
        <h3>{{ person.firstName }} {{ person.lastName }}</h3>
        <p>Email: {{ person.email }}</p>
        <p>Date Added: {{ (person.dateAdded || person.date || 'Unknown') | date:'MM-dd-yy' }}</p>
        <p>Id: {{ person._id }}</p>
        <button class="btn-block btn-danger" ng-click="vm.removePerson(person._id)">Remove Person</button>
      </div>
    </div>
  </div>
</div>
